/*** GENERIC ***/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.container {
	display: flex;
	
	
}

/*** HEADER ***/

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 70px;
	
	background:white;
	color: black;
	box-shadow: 0 1px 3px #666;
}

nav {
	height: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
    
}

nav a {
	color: black;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	display: flex;
    align-items: center;
}

.menu-left li {
 padding: 5px;
 
}
.menu-right li {
	padding: 5px;
    
}

.logo {
	height: 20px;
    padding-right: 15px;
    
}

.bottone {
    background-color: #0061ff;
    color: white;
    display:flex;
    justify-content: flex-end;
    align-items: center;  
    padding: 5px;  
    text-align: center;
}

/*** MAIN ***/

main {
	margin-top: 100px;
}

main > .container {
	flex-wrap: wrap;
}

.chetiserve {

	background: rgb(68, 150, 204);
    display: flex;
    width: 100%;
    height: 430px;
    margin: auto;
    padding: 10px;
}

.allinea {
    padding-top: 40px;
     width: 40%;

 }

.bot {
    background-color:blue;
    color: white;
    padding: 10px;
}

.contenitore {

    display: flex;
    justify-content: space-between;
}

.jumbo {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}

.freccia {
    padding-left: 200px;
    padding-top: 15px;
    display: flex;
}

h1 {
    text-align: center;
}

.trova {
   
    text-align: center;
    padding-top: 100px;

}

.fatturazione {
       padding-bottom: 5%;
       padding-top: 5%;
       display: flex;
       justify-content:flex-start;
       
}

.radio {

    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    border: 1px solid lightgray;
    background: white;
    border-radius: 50%;
    margin-left: 5%;
}


.radio-checked {
border: 5px solid #0061ff;
margin-left: 7%;
    
}

.radio-label {
vertical-align: middle;
}

.colonne{
    
    background-color: white;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    
    text-indent: 4px;

    
}


.rigo{

    width: 33%;
    background-color:white;
    min-height: 490px;
    border: solid 1px black;
    display: flex;
}

.linea {

    border: solid 1px;
}

.centro {

    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px black;
    
}

.lista {
    list-style-type: none;
    text-align: left;
    padding-left: 4px;
}

.pro {
    padding-top: 30px;
    text-align: center;
}

.pulsante {

    background-color: blue;
    color: white;
    padding: 5px;

}

.spazio {
    width: 25%;
    border:solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.blu {
    color: rgb(100, 184, 239);
    
}

.team {
    padding-top: 100px;
	background:white;
	width: 100%;
	min-height: 200px;
    display: flex;
    
    

}
.cont {

    background-color: white;
    width: 70%;
    min-height: 250px;
    margin: auto;
    border: solid black 1px;
    
}

.te {
    
    border-bottom: solid black 1px;
    display: flex; 
    justify-content: center;
    padding: 20px;
}

.insieme {
    display: flex;
    justify-content: space-between;
}

.contatta {

display:flex;
background-color: blue;
color: white;
padding: 8px;
    
}

.contenitorefoto {
  
    padding-top: 100px;
	background:white;
	width: 100%;
	min-height: 200px;
    display: flex;
    padding-bottom: 100px;
}

.contfo {

    background-color: white;
    width: 70%;
    min-height: 250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.soci {
    width: 60%;
}

.partner {
    display: flex;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 20px;
    padding-top: 60%;
}

.sotto {
    display: flex;
    -webkit-padding-start: 20px;
}

.trovaun {
    display: inline-block;
    background-color: white;
    color: black;
    border: solid black 1px;
    padding: 8px;
    margin-left: 20px;
}

.esegui {
    text-align: center;
    padding-bottom: 100px;
}

.tessere {
    width: 60%;
    display: flex;
}

.afianco {
    display: flex;
  padding-left: 80px;
  padding-bottom: 100px;
}

.pad {
    padding-left: 6%;
    padding-bottom: 5%;
}

.clienti {
    padding-bottom: 10%;
}

.scopri{
   color: rgb(79, 146, 241);
   padding-left: 6%;
}

.contenitore-img {

display: flex;

}

.primo-quadrato {
    width: 250px;
    height: 250px;
    background-color:rgb(165, 216, 89);
    display: flex;  
}

.img {
    fill: white;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.secondo-quadrato {
    width: 250px;
    height: 250px;
    background-color:#4F0112;
    display: flex;  
}

.terzo-quadrato {
    width: 250px;
    height: 250px;
    background-color:#0061ff;
    display: flex;  
}

.quarto-quadrato {
    width: 250px;
    height: 250px;
    background-color:red;
    display: flex;  
}

.meta {

}

.meta-img {
    width: 20%;
    display: flex;
    justify-content: center;

}