/*** GENERIC ***/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
}

.container {
	display: flex;
	max-width: 1100px;
	
}

/*** HEADER ***/

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 70px;
	
	background:white;
	color: black;
	box-shadow: 0 1px 3px #666;
}

nav {
	height: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
    
}

nav a {
	color: black;
	text-decoration: none;
}

nav ul {
	list-style-type: none;
	display: flex;
    align-items: center;
}

.menu-left li {
 padding: 5px;
}
.menu-right li {
	padding: 5px;
}

.logo {
	height: 20px;
    padding-right: 15px;
    
}

.bottone {
    background-color: rgb(27, 27, 170);
    color: white;
    display:flex;
    justify-content: flex-end;
    align-items: center;  
    padding: 5px;  
    text-align: center;
}

/*** MAIN ***/

main {
	margin-top: 100px;
}

main > .container {
	flex-wrap: wrap;
}

.chetiserve {

	background: rgb(68, 150, 204);
    display: flex;
    width: 100%;
    height: 430px;
    margin: auto;
    padding: 10px;
}

.allinea {
    padding-top: 40px;
     width: 40%;

 }

.bot {
    background-color:blue;
    color: white;
    padding: 10px;
}

.contenitore {

    display: flex;
    justify-content: space-between;
}

.jumbo {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

}

.freccia {
    padding-left: 200px;
    padding-top: 15px;
    display: flex;
}

h1 {
    text-align: center;
}

.trova {
   
    text-align: center;
    padding-top: 100px;

}

.scatola {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.scatola ul {
    display: flex;
    padding: auto;
    
}
.menu {
    padding-bottom: 50px;
    display: flex;
    
}

.colonne{
    
    background-color: white;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    
    text-indent: 4px;

    
}


.rigo{

    width: 33%;
    background-color:white;
    min-height: 490px;
    border: solid 1px black;
    display: flex;
}

.linea {

    border: solid 1px;
}

.centro {

    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px black;
    
}

.lista {
    list-style-type: none;
    text-align: left;
    padding-left: 4px;
}

.pro {
    padding-top: 30px;
    text-align: center;
}

.pulsante {

    background-color: blue;
    color: white;
    padding: 5px;

}

.spazio {
    width: 25%;
    border:solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.blu {
    color: rgb(100, 184, 239);
    text-align: justify;
}

.team {
    padding-top: 100px;
	background:white;
	width: 100%;
	min-height: 200px;
    display: flex;
    

}
.cont {

    background-color: white;
    width: 70%;
    min-height: 250px;
    margin: auto;
    border: solid black 1px;
    
}

.te {
    
    border-bottom: solid black 1px;
    display: flex; 
    justify-content: center;
    padding: 20px;
}

.insieme {
    display: flex;
    justify-content: space-between;
}

.contatta {

display:flex;
background-color: blue;
color: white;
padding: 8px;
    
}

.contenitorefoto {
  
    padding-top: 100px;
	background:white;
	width: 100%;
	min-height: 200px;
    display: flex;
}

.contfo {

    background-color: white;
    width: 70%;
    min-height: 250px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.soci {
    width: 60%;
}

.partner {
    display: flex;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 20px;
    padding-top: 60%;
}

.sotto {
    display: flex;
    -webkit-padding-start: 20px;
}


